---
import Layout from '@/components/layouts/Layout.astro'
import { Button } from '@/components/ui/button'
---

<Layout title="Home" description="Home page">
	<h1>Welcome to Astro</h1>
	<Button>Click me</Button></Layout
>
